/* Blog.module.css */
.blog {
  padding-top: 0px;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  width: 100%;
  background-image: url('https://en.idei.club/uploads/posts/2023-06/1687356340_en-idei-club-p-construction-background-dizain-krasivo-46.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.titleBlog {
  text-align: center;
  font-size: 36px;
  color: #000;
  margin-bottom: 40px;
}

.blogPosts {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
  max-width: 1600px;
}

.blogPost {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blogPost:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.blogPostImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blogPostTitle {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin: 15px;
}

.blogPostDescription {
  font-size: 16px;
  color: #7f8c8d;
  line-height: 1.6;
  margin: 15px;
}

.readMore {
  display: block;
  margin: 15px;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.readMore:hover {
  text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .blog {
    padding-top: 40px;
  }

  .titleBlog {
    font-size: 28px;
  }

  .blogPosts {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .blogPost {
    width: 100%;
  }

  .blogPostImage {
    height: 160px;
  }

  .blogPostTitle {
    font-size: 20px;
  }

  .blogPostDescription {
    font-size: 14px;
  }

  .readMore {
    font-size: 14px;
  }
}
